name: deploy-pages

on:
  workflow_call:

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout doc files
        uses: actions/checkout@v4
        with:
          ref: gh-docs
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install requirements
        run: python -m pip install -r docs/requirements
      - name: Pull from repository
        run: git pull
      - name: Deploy mkdocs
        run: mkdocs gh-deploy
